pipeline/Run Databricks Job.json
{
	"name": "Run Databricks Job",
	"properties": {
		"activities": [
			{
				"name": "Execute Jobs API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.DatabricksWorkspaceID,'.azuredatabricks.net/api/2.1/jobs/run-now')",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@concat('{\"job_id\":',pipeline().parameters.JobID,'}')",
						"type": "Expression"
					},
					"authentication": {
						"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d",
						"credential": {
							"referenceName": "cred_m_edz_keyvault",
							"type": "CredentialReference"
						},
						"type": "UserAssignedManagedIdentity"
					}
				}
			},
			{
				"name": "Wait Until Job Completes",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Execute Jobs API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(variables('JobStatus'),'Running'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check Job Run API",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://',pipeline().parameters.DatabricksWorkspaceID,'.azuredatabricks.net/api/2.1/jobs/runs/get?run_id=',activity('Execute Jobs API').output.run_id)",
									"type": "Expression"
								},
								"method": "GET",
								"authentication": {
									"resource": "2ff814a6-3304-4ab8-85cb-cd0e6f879c1d",
									"credential": {
										"referenceName": "cred_m_edz_keyvault",
										"type": "CredentialReference"
									},
									"type": "UserAssignedManagedIdentity"
								}
							}
						},
						{
							"name": "Set Job Status",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check Job Run API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "JobStatus",
								"value": {
									"value": "@if(\nor(\nequals(activity('Check Job Run API').output.state.life_cycle_state, 'PENDING'), equals(activity('Check Job Run API').output.state.life_cycle_state, 'RUNNING')\n),\n'Running',\nactivity('Check Job Run API').output.state.life_cycle_state\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait to Recheck API",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set Job Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@pipeline().parameters.WaitSeconds",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Job State Check",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Wait Until Job Completes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(string(activity('Check Job Run API').output.state.result_state),'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@string(activity('Check Job Run API').output.state.result_state)",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						}
					]
				}
			}
		],
		"concurrency": 10,
		"parameters": {
			"JobID": {
				"type": "string",
				"defaultValue": "648026916915866"
			},
			"DatabricksWorkspaceID": {
				"type": "string",
				"defaultValue": "adb-7807847321225799.19"
			},
			"WaitSeconds": {
				"type": "int",
				"defaultValue": 5
			}
		},
		"variables": {
			"JobStatus": {
				"type": "String",
				"defaultValue": "Running"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-08T22:10:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}